.profile_thumbnail
{

	position:absolute;
	left:-18.5013px;
	top:13.2561px;
	width:200.745px;
	height:200.745px;
}

.photo_group
{
	margin-left:50px;
	margin-top:35px;
	float:left;
	width:233px;
	height:300px;
}

.profile_group
{
	float:left;	
	width:405px;
	height:200px;
	margin-top:30px
	
}

.content_title
{
	font-size:35px;
	font-weight:100;
	margin-top: 0px;
	margin-left:20px;
}

#profile_title
{
	font-size:36px;
	font-weight:100;
	color:#8D684F;
	margin-left:-50px;
	margin-top:-5px;
	text-align:center;
}

＃profile
{
	border-radius:20px;
	height:170px;
	width:170;
	overflow:hidden;
	float:left;

}

.profile_label
{
	font-size:20px;
	height:27px;
	width: 100px;
	text-align:right;
	display:inline-block;
	margin-right:5px;
	color:#8D684F;
}

.profile_label_unit
{
	font-size:20px;
	text-align:left;
	display:inline-block;
	margin-left:5px;
	color:#8D684F;
	
}

.profile_input
{
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border: #8D684F 2px solid;
	border-radius: 10px;
	outline: none;
	font-size:20px;
	height:27px;
	width: 240px;
	text-align:left;
	display:inline-block;
	border-radius:10px;
	opacity:0.7;

}

.profile_input:focus
{
	box-shadow: 0 0 5px rgba(255, 216, 80, 1);
	-webkit-box-shadow: 0 0 5px rgba(255, 216, 80, 1);
	-moz-box-shadow: 0 0 5px rgba(255, 216, 80, 1);
	border: #FFD850 2px solid;
}

.profile_input_short
{
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	border: #8D684F 2px solid;
	border-radius: 10px;
	outline: none;
	font-size:20px;
	height:27px;
	width: 80px;
	display:inline-block;
	border-radius:10px;
	opacity:0.7;
}

.profile_input_short:focus
{
	box-shadow: 0 0 5px rgba(255, 216, 80, 1);
	-webkit-box-shadow: 0 0 5px rgba(255, 216, 80, 1);
	-moz-box-shadow: 0 0 5px rgba(255, 216, 80, 1);
	border: #FFD850 2px solid;
}


.button
{
	background-color:rgba(46,226,255,0.3);
	width:110px;
	height:35px;
	border-radius:10px;
	margin-right:10px;
	border:0px;	
	font-size:16px
}

.button:hover
{
	background-color:rgba(46,226,255,0.5);
	color:black;
	border-radius:10px;
	margin-right:10px;
	border:0px;	
}

.button:active
{
	background-color:rgba(46,226,255,0.5);
/* 	color:#FFD850; */
	border-radius:10px;
	margin-right:10px;
	border:0px;	
}

#button_group
{
	margin-left:105px;
}
